<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<form th:object="${editthread}" th:action='@{editthread}' method="post">
    <input th:field="*{id}" type="hidden" />
    <input th:field="*{createDate}" type="hidden" />
    <input th:field="*{threadName}" />
    <input th:field="*{description}" />
    <button type="submit"></button>
</form>

</body>
</html>