<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<div class="container-fluid" >
<form th:object="${editPost}" th:action='@{editpost}' method="post">
    <h1 class="display-4 thread">Edytuj post</h1>
    <input th:field="*{id}" type="hidden"/>
    <input th:field="*{createDate}" type="hidden" />
    <label for="cont" class="center">Treść(od 5 do 300 znaków):</label>
    <textarea rows="10" th:field="*{content}" class="form-control thread" type="text" id="cont"/>
    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="center" style="color: red">Niepoprwna zawartość</p>
    <p></p>
    <input class="btn btn-info thread" type="submit" name="action" value="Zapisz" />
</form>
<footer th:replace="site/footer :: footer"></footer>
</div>
</body>
</html>