<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<div class="container-fluid" >
    <form th:object="${editthread}" th:action='@{editthread}' method="post"  >
        <input th:field="*{id}" type="hidden" />
        <input th:field="*{createDate}" type="hidden" />
        <h1 class="display-4 thread">Edytuj temat:</h1>
        <label for="name" class="center" >Nazwa(od 5 do 60 znaków):</label>
        <input th:field="*{threadName}" class="form-control thread" type="text" id="name"/>
        <label for="desc" class="center">Treść(min 5 znaków):</label>
        <textarea rows="10" th:field="*{description}" class="form-control thread" type="text" id="desc"/>
        <p></p>
        <input class="btn btn-info thread" type="submit" name="action" value="Zapisz" />

    </form>

    <footer th:replace="site/footer :: footer"></footer></div>
</body>
</html>