<!DOCTYPE html>
<html th:lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<form th:object="${user}" th:action='@{/register}' method="post" class="formalign">
    <div class="form-group">
        <h1 class="display-4">Rejestracja</h1>
    <label for="username" >Podaj login:</label>
    <input id="username" th:field="*{username}" name="username" type="text" class="form-control"/>
    <label for="password">Podaj hasło:</label>
    <input id="password" th:field="*{password}" name="password" type="password" class="form-control"/>
    <label for="email">Podaj email:</label>
    <input id="email" th:field="*{email}" name="email" type="email" class="form-control"/>
        <p></p>
    <input class="btn btn-info" type="submit" name="action" value="Zarejestruj" />
    </div>
</form>
<footer th:replace="site/footer :: footer"></footer>
</body>
</html>