<!DOCTYPE html>
<html th:lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<form th:object="${user}" th:action='@{/register}' method="post">
    <label for="username" >LOGIN</label>
    <input id="username" th:field="*{username}" name="username" type="text"/>
    <label for="password">HASłO</label>
    <input id="password" th:field="*{password}" name="password" type="password"/>
    <label for="email">EMAIL</label>
    <input id="email" th:field="*{email}" name="email" type="email"/>
    <input class="btn waves-effect waves-light" type="submit" name="action" value="Register" />
</form>

</body>
</html>