<!DOCTYPE html>
<html th:lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/head :: head">
</head>
<body>
    <nav th:replace="site/navbar :: navbar"></nav>
    <div class="container-fluid" >
        <div class="row content">
            <table class="table thread" style="margin-top: 1.5%" >
                <thead class="thead-dark" >
                <tr>
                    <th >
                        Nazwa użytkownika
                    </th>
                    <th>
                        Edytuj
                    </th>
                    <th>
                        Usuń
                    </th>
                </tr>
                </thead>
                <tbody th:each="user : ${users}" class="bodythread">
                <tr>
                    <td th:text="${user.getUsername()}">
                    </td>
                    <td>
                        <a th:href="@{'/user/' + ${user.getId()} + '/edit'}"> <button th:text="edytuj" class="btn btn-info"></button></a>
                    </td>
                    <td>
                        <a th:href="@{'users/delete/' + ${user.getId()}}" > <button th:text="usuń" class="btn btn-danger"></button></a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <footer th:replace="site/footer :: footer"></footer>
    </div>

</body>
</html>