<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<div class="container-fluid">
<form  th:action="@{/login}" method="post" class="formalign">

    <div class="form-group" ><h1 class="display-4">Logowanie</h1>
        <label for="username">Podaj login:</label>
        <input id="username" name="username" type="text" class="form-control" />
    <label for="password">Podaj hasło:</label>
    <input id="password" name="password" type="password" class="form-control"/>
        <p></p>
    <input class="btn btn-info" type="submit" name="action" value="Zaloguj" align="right" />
    </div>
</form>
<footer th:replace="site/footer :: footer"></footer></div>
</body>
</html>