<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<form  th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <p></p>
    <label for="password" class="active">Password</label>
    <input id="password" name="password" type="password"/>
    <input class="btn waves-effect waves-light" type="submit" name="action" value="Login" />

</form>

</body>
</html>