<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<p></p>
<div class="container-fluid" >
    <div class="row content">
        <table class="table thread" >
            <thead class="thead-dark" >
            <tr>
                <th >
                    Tematy:
                </th>
                <th>
                    <a sec:authorize="isAuthenticated()" href="/threads/add"><button class="btn btn-info threads">Nowy Temat</button></a>
                </th>
            </tr>
            </thead>
            <tbody th:each="thread : ${threads}" class="bodythread">
            <tr>
                <td class="threadrow">
                    <a th:href="@{'/threads/' + ${thread.id}}"><h6 th:text="${thread.threadName}"  >"</h6> </a>

                </td>
                <td class="authorrow">
                    <a th:href="@{'/user/'+ ${thread.userThread.getUsername()}}" th:text="${thread.userThread.getUsername()}" ></a>
                    <p class="minimalmargin"></p>
                    <small style="float: left" th:text="${#temporals.format(thread.createDate, 'dd-MM-yyy, HH:mm')}"></small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="site/footer :: footer"></footer>
</body>
</html>