<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="site/head :: head">
</head>
<body>
<nav th:replace="site/navbar :: navbar"></nav>
<a sec:authorize="isAuthenticated()" th:href="@{/threads/add}">DODAJ TEMAT</a>
<table th:each="thread : ${threads}">
    <tr>
        <td>
            <a th:href="@{'/threads/' + ${thread.getId()}}" th:text="${thread.getThreadName()}"></a>
            <a th:href="@{'/user/' + ${thread.getUserThread().getUsername()}}" th:text="${thread.getUserThread().getUsername()}"></a>
        </td>
    </tr>
</table>
</body>
</html>